@model Iris.Web.ViewModels.Identity.ProfileViewmodel
@using Microsoft.AspNet.Identity
@using Iris.DomainClasses
@using Iris.ViewModels
@using Iris.Web.ViewModels
@{
    ViewBag.Title = "حساب کاربری";
    Layout = "~/Areas/User/Views/Shared/_ProfileLayout.cshtml";
}

<div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
    <div class="row">

        @{
            Html.RenderPartial("~/Areas/User/Views/Widget/_UserInfoMiniWidget.cshtml", ViewData["UserInfoWidgetViewModel"] as UserInfoWidgetViewModel);
        }

        @if (ViewData["FavoriteProducts"].ToString().Any() && ((List<FavoriteProductMiniWidget>)ViewData["FavoriteProducts"]).Any())
        {
            <!-- Start Product-Slider -->

            Html.RenderPartial("~/Areas/Favorite/Views/Widget/_FavoriteProductsMiniWidget.cshtml", ViewData["FavoriteProducts"] as List<FavoriteProductMiniWidget>);
            <!-- End Product-Slider -->
        }

    </div>
    <div class="row mt-5">


        @if (ViewData["ListFactorViewModel"].ToString().Any() && ((List<Iris.ViewModels.ListFactorViewModel>)ViewData["ListFactorViewModel"]).Any())
        {
            <!-- Start Product-Slider -->
            Html.RenderPartial("~/Areas/ShoppingCart/Views/Widget/_FactorListPortableWidget.cshtml", ViewData["ListFactorViewModel"] as List<Iris.ViewModels.ListFactorViewModel>);
            <!-- End Product-Slider -->
        }
    </div>
</div>