@using MvcCheckBoxList.Model
@model Iris.ViewModels.SerachProductIndexViewModel
@{
    var availablePricesList = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Prices);
    var pricesMax = Newtonsoft.Json.JsonConvert.SerializeObject(Model.PricesMax);
    var pricesMin = Newtonsoft.Json.JsonConvert.SerializeObject(Model.PricesMin);
}
<div class="container main-container" ng-controller="myCtrl" ng-app="myApp" ng-cloak>

    <div class="row">

        <!-- Start Sidebar -->
        <div class="col-lg-3 col-md-12 col-sm-12 sticky-sidebar">
            <div class="dt-sn mb-3">
                @using (Html.BeginForm(MVC.Product.SearchProduct.ActionNames.GetProducts, MVC.Product.SearchProduct.Name, new { area = MVC.Product.Name }))
                {
                    <div class="col-12">
                        <div class="section-title text-sm-title title-wide mb-1 no-after-title-wide">
                            <h2>فیلتر محصولات</h2>
                        </div>
                    </div>

                    <!--search box-->
                    <div class="col-12 mb-3">
                        <div class="widget-search">
                            <input type="text" name="s"
                                   placeholder="نام محصول یا برند مورد نظر را بنویسید..."
                                   autocomplete="off"
                                   id="searchInputProduct"
                                   class="ui-autocomplete-input">
                            <button class="btn-search-widget" id="btnSearchProdcut">
                                <img src="~/Content/img/theme/search.png" alt="">
                            </button>
                        </div>
                    </div>

                    <!--Filter-->
                    <div class="col-12 filter-product mb-3">
                        <div class="accordion" id="accordionExample">

                            <!--Group Product List-->
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-right collapsed" type="button"
                                                data-toggle="collapse" data-target="#groupsList"
                                                aria-expanded="false" aria-controls="groupsList">
                                            دسته بندی
                                            <i class="mdi mdi-chevron-down"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="groupsList" class="collapse" aria-labelledby="headingOne"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        @foreach (var item in Model.Categories.AvailableGroups)
                                        {
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="@item.Id">
                                                <label class="custom-control-label"
                                                       for="@item.Id">@item.Name</label>
                                                </div>
                                            }
                                    </div>
                                </div>
                            </div>

                            <!--Brand Product List-->
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-right collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                            برند
                                            <i class="mdi mdi-chevron-down"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="customCheck7">
                                            <label class="custom-control-label"
                                                   for="customCheck7">همه</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Seller Product List-->
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-right collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                            فروشنده
                                            <i class="mdi mdi-chevron-down"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="customCheck11">
                                            <label class="custom-control-label"
                                                   for="customCheck11">همه</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="customCheck12">
                                            <label class="custom-control-label" for="customCheck12">
                                                دیدی
                                                کالا
                                            </label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="customCheck13">
                                            <label class="custom-control-label" for="customCheck13">
                                                فروشنده
                                                رسمی برند
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Color Product List-->
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-right collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseFour"
                                                aria-expanded="false" aria-controls="collapseFour">
                                            رنگها
                                            <i class="mdi mdi-chevron-down"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="customCheck14">
                                            <label class="custom-control-label"
                                                   for="customCheck14">مشکی</label>
                                            <span class="filter-color"
                                                  style="background-color: rgb(0,0,0)"></span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="customCheck15">
                                            <label class="custom-control-label" for="customCheck15">
                                                نوک
                                                مدادی
                                            </label>
                                            <span class="filter-color"
                                                  style="background-color: rgb(105,105,105)"></span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="customCheck16">
                                            <label class="custom-control-label" for="customCheck16">
                                                آبی
                                                روشن
                                            </label>
                                            <span class="filter-color"
                                                  style="background-color: rgb(64,170,255)"></span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="customCheck17">
                                            <label class="custom-control-label" for="customCheck17">
                                                نقره
                                                ای
                                            </label>
                                            <span class="filter-color"
                                                  style="background-color: rgb(222,222,222)"></span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="customCheck18">
                                            <label class="custom-control-label"
                                                   for="customCheck18">زرد</label>
                                            <span class="filter-color"
                                                  style="background-color: rgb(255,255,0)"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Filter Mony-->
                    <div class="col-12 mb-4">
                        <div class="section-title text-sm-title title-wide no-after-title-wide mb-1">
                            <h2>فیلتر براساس قیمت :</h2>
                        </div>
                        <div class="mt-2 mb-2">
                            <div id="priceRange"></div>
                        </div>
                        <div class="mt-2 mb-2 text-center pt-2">
                            <span>قیمت: </span>
                            <span class="example-val" id="priceRange-value"></span> تومان
                        </div>
                    </div>

                    <!--Filter Exist Product-->
                    <div class="col-12 mb-3">
                        <div class="parent-switcher">
                            <label class="ui-statusswitcher">
                                <input type="checkbox" id="AvailableProducts" name="AvailableProducts" value="1">
                                <span class="ui-statusswitcher-slider">
                                    <span class="ui-statusswitcher-slider-toggle"></span>
                                </span>
                            </label>
                            <label class="label-switcher" for="switcher-1">فقط کالاهای موجود</label>
                        </div>
                    </div>

                    <!--Submit BTN-->
                    <div class="col-12">
                        <button class="btn btn-info btn-block" type="submit">
                            فیلتر
                        </button>
                        <br />
                    </div>

                }
            </div>
        </div>
        <!-- End Sidebar -->
        <!-- Start Content -->
        <div class="col-lg-9 col-md-12 col-sm-12 search-card-res">
            <div class="dt-sl dt-sn px-0 search-amazing-tab">
                <!--Sorted Product-->
                <div class="ah-tab-wrapper dt-sl">
                    <div class="ah-tab dt-sl">
                        <a class="ah-tab-item" data-ah-tab-active="true" ng-click="sort(1)">مرتبط ترین</a>
                        <a class="ah-tab-item" ng-click="sort(2)">پربازدید ترین</a>
                        <a class="ah-tab-item" ng-click="sort(3)">جدید ترین</a>
                        <a class="ah-tab-item" ng-click="sort(4)">پرفروش ترین</a>
                        <a class="ah-tab-item" ng-click="sort(5)">ارزان ترین</a>
                        <a class="ah-tab-item" ng-click="sort(6)">گران ترین</a>
                    </div>
                </div>

                <!--Product-->
                <div>
                    <div class="ah-tab-content-wrapper dt-sl px-res-0">
                        <div class="row mb-3 mx-0 px-res-0">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-10 mb-1 px-res-0" ng-repeat="product in products">
                                <div class="product-card mb-2 mx-res-0">
                                    <div class="promotion-badge" ng-if="product.discount >= 25">
                                        فروش ویژه
                                    </div>
                                    <div class="product-head">
                                        <div class="rating-stars">
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                        </div>
                                        <div class="discount" ng-if="product.discount > 0">
                                            <span>{{product.discount}}%</span>
                                        </div>
                                    </div>
                                    <a class="product-thumb" style="height:187px; text-align:center;" href="~/product/{{product.id}}/{{product.slugUrl}}">
                                        <img ng-src="{{product.image}}" alt="Product Thumbnail">
                                    </a>
                                    <div class="product-card-body">
                                        <h5 class="product-title">
                                            <a href="shop-single.html">{{product.name}}</a>
                                        </h5>
                                        <a class="product-meta" href="shop-categories.html">{{product.category}}</a>
                                        <span class="product-price">{{product.price}} تومان</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--paging-->
                        <div class="row">
                            <div class="col-12">
                                <div class="pagination">
                                    <a href="#" class="prev"><i class="mdi mdi-chevron-double-right"></i></a>
                                    <a href="#">1</a>
                                    <a href="#" class="active-page">2</a>
                                    <a href="#">3</a>
                                    <a href="#">4</a>
                                    <a href="#">...</a>
                                    <a href="#">7</a>
                                    <a href="#" class="next"><i class="mdi mdi-chevron-double-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content -->
    </div>
</div>


@section scripts{
    <script>

        var value;
        //var values = @availablePricesList;
        var priceMax = @pricesMax;
        var priceMin = @pricesMin;
        var sourceUrl = 'http://localhost/product/getproductsJson';
        var app = angular.module("myApp", []);

        app.controller("myCtrl", function ($scope, $http) {

            /**
             * serch params
             * @@param params is search attribute model
             */
            var searching = function (params) {
                $http({
                    url: sourceUrl,
                    method: "post",
                    data: params
                }).then(function (response) {
                    $scope.products = response.data;
                });
            }

            /**
             * initilize value
             */
            var initilize = function () {
                searchParams =
                {
                    "PageNumber": 1,
                    "PageSize": "24",
                    "SortBy": "ViewNumber",
                    "SortOrder": "desc",
                    "ShowStockProductsOnly": false,
                    "MinPrice": priceMin,//document.getElementById('priceRange').noUiSlider.get()[0],
                    "MaxPrice": priceMax,//$('#priceRange').noUiSlider.get()[1],
                    "MinDiscount": null,
                    "MaxDiscount": null,
                    "SelectedCategories": [],
                    "SearchTerm": ""
                }
                searching(searchParams);
            }

            initilize();

            $scope.sort = function (id) {
                alert(id);
            }

        });

    </script>
    @Scripts.Render("~/bundles/search-product")
}