@using Utilities
@model IEnumerable<Iris.ViewModels.ListFactorViewModel>
@{
    ViewBag.Title = "فهرست سفارشات";
    Layout = "~/Areas/User/Views/Shared/_ProfileLayout.cshtml";
}

<div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
    <div class="row">
        @{
            <!-- Start Product-Slider -->
            Html.RenderPartial("~/Areas/ShoppingCart/Views/Widget/_FactorListPortableWidget.cshtml", Model.ToList());
            <!-- End Product-Slider -->
        }
    </div>
</div>